#Home {
  background: url("/images/bora.jpg"); }
  #Home .conatiner {
    height: 90%; }
  #Home .main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column; }
  #Home .box {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; }
  #Home h1 {
    color: #fff;
    font-size: 80px;
    margin-bottom: 40px; }
  #Home .btn.btn-primary {
    width: 90%;
    background: #ffb74b;
    font-size: 20px;
    margin-top: 10px;
    border: 1px solid #fff8f847; }
  @media (max-width: 1200px) {
    #Home button.btn.btn-primary {
      width: 100%; } }

#shop .col-lg-3.col-md-4.col-sm-6.col-xs-6 {
  padding: 0px; }
#shop .products {
  padding: 0px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 500px; }
#shop .image {
  max-width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s; }
  #shop .image:hover {
    opacity: 0.8; }
  #shop .image #productImage {
    max-width: 185px;
    width: 100%; }
#shop .title {
  font-size: 14px; }
#shop #delete {
  display: inline-block;
  margin: 0px; }
#shop .buttons {
  display: flex;
  justify-content: space-between;
  aligin-items: center;
  margin-bottom: 10px; }
#shop form {
  display: flex; }
  #shop form button {
    max-width: 200px; }
#shop .row {
  border-left: 1px solid #ddd; }
#shop .col-lg-3.col-md-4.col-sm-6.col-xs-6 {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }
@media (max-width: 1200px) {
  #shop .container {
    max-width: 100%; }
  #shop .col-lg-3.col-md-4.col-sm-6.col-xs-6:nth-child(1) {
    border-top: 1px solid #ddd; }
  #shop .col-lg-3.col-md-4.col-sm-6.col-xs-6:nth-child(2), #shop .col-lg-3.col-md-4.col-sm-6.col-xs-6:nth-child(3), #shop .col-lg-3.col-md-4.col-sm-6.col-xs-6:nth-child(4) {
    border: 0px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd; } }
@media (max-width: 768px) {
  #shop .container {
    max-width: 512px; } }

#new #price {
  width: 30px; }

body {
  font-family: 'Roboto', sans-serif; }

#show {
  margin-top: 50px; }
  #show .container {
    max-width: 90%; }
  #show .row {
    max-height: 900px; }
  #show img {
    width: 100%;
    max-width: 500px; }
  #show .image {
    max-width: 100%;
    flex: d;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd; }
    #show .image img {
      max-width: 360px; }
  #show #product-box {
    font-family: 'Muli', sans-serif;
    font-size: 15px; }
  #show .title p {
    font-weight: 700;
    font-size: 20px; }
  #show .quantity {
    display: flex;
    align-items: center;
    margin: 10px 0px; }
    #show .quantity p {
      margin: 0px;
      margin-right: 10px; }
    #show .quantity input {
      max-width: 70px; }
  #show .buttons {
    margin: 10px 0px;
    display: flex;
    align-items: center; }
    #show .buttons #myBtn {
      margin-right: 10px; }
    #show .buttons form {
      margin: 0px; }
      #show .buttons form button {
        margin-right: 10px; }
  #show .reviews {
    width: 100%;
    margin: 40px 0px;
    padding: 15px 30px;
    border-radius: 4px;
    border: 1px solid #d4d4d4; }
  #show #recommendation img {
    border: 1px solid #ddd;
    max-width: 300px; }
  #show .rec-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  #show #top-box {
    display: flex;
    justify-content: flex-end; }
  #show .comments {
    padding: 10px;
    background: #00000000;
    margin: 0px 10px; }
    #show .comments hr {
      margin: 0px; }
  #show #description {
    width: 100%;
    background: #0000000a;
    margin: 40px 0px; }
    #show #description #desc {
      padding: 20px; }
  #show #info-box {
    width: 100%;
    background: #0000000a;
    padding: 20px;
    border: 1px solid #ddd; }
  #show #tab-box {
    border: 1px solid #ddd;
    padding: 30px;
    border-radius: 5px; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; }

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

/*# sourceMappingURL=app.css.map */
