<% include ../partials/header %>
<section id="new">
  <div class="container">
   <h1>New Comment on: '<%= product.title %>'</h1>
    <form action="/shop/<%= product._id %>/comment" method="POST">
      <div class="form-group" >
        <input class="form-control" type="text" name="comment[author]" placeholder="Enter Username" required>
      </div>
      <div class="form-group">
        <input class="form-control"type="text" name="comment[text]"  placeholder="What's on your mind?"required>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</section>
<% include ../partials/footer %>