<% include ../partials/header %>
<section id="new">
  <div class="container">
    <form action="/shop/<%= product._id %>/comment" method="POST">
      <div class="form-group">
        <input class="form-control" min="1" max="140" type="text" name="comment[text]"  placeholder="What's on your mind?"required>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</section>
<% include ../partials/footer %>