<% include ../partials/header %>
<section id="Home">
    <div class="container">
        <div class="main">
            <div class="box">
                <h1>Welcome.</h1>
                <a class="btn btn-primary" href="/shop">Enter</a>
            </div>
        </div>
    </div>
    
</section>

<% include ../partials/footer %>