<% include ../partials/header %>
<section id="search">
  <h1>Search</h1>
<div class="container">
  <input class="form-control"type="text" id="filterInput"  >
  <div id="productList">
    <%  product.forEach(function(product){%>
      <div id="productBox"class="product">
        <div class="image">
          <img  src="<%= product.image %>">
        </div>
        <div id="productDesc">
          <p style="font-size:12px;">by <a href="#"><%= product.author.username  %></a></p>
          <p>
            <a id="productTitle"href="/shop/<%= product._id %>"><%=  product.title %></a>
          </p>
        </div>
      </div>
    <% }) %>
  </div>
</div>
</section>
<% include ../partials/footer %>