#shop{
    .products{
      border: 2px solid #bcbcbc;
      border-radius: 10px;
      padding: 0px 10px;
    }
    
    .image{
      width: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        max-width: 70%;
      }
    }
}