#shop{
    .col-lg-3.col-md-4.col-sm-6.col-xs-6 {
      padding: 0px;
    } 
    
    .products{
      padding: 0px 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-height: 500px;

    }
    
    .image{
      max-width: 300px;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.2s;
      &:hover{opacity:0.8;}
      #productImage{
        max-width: 185px;
        width:100%;
      }
    }
    
    .title{
      font-size:14px;
    }
  
    
    #delete{
      display:inline-block;
      margin:0px;
    }
    
    .buttons{
      display:flex;
      justify-content:space-between;
      aligin-items:center;
      margin-bottom: 10px;
    }

form{
  display: flex;
  button{
    max-width: 200px;
  }
}
  .row{
    border-left: 1px solid #ddd;
    
  }

 .col-lg-3.col-md-4.col-sm-6.col-xs-6{
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
 }

  .col-lg-3.col-md-4.col-sm-6.col-xs-6:nth-child(1){
      border-top: 1px solid #ddd;
  }
  
  .col-lg-3.col-md-4.col-sm-6.col-xs-6:nth-child(2), .col-lg-3.col-md-4.col-sm-6.col-xs-6:nth-child(3), .col-lg-3.col-md-4.col-sm-6.col-xs-6:nth-child(4){
  border:0px;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom:1px solid #ddd;
  }
}
  @media(max-width:1200px){
    .container{
      max-width:100%;
    }
  
  @media(max-width:768px){
    .container{
      max-width:512px;
    }
  }

}