#shop{
    .col-lg-3.col-md-4.col-sm-6.col-xs-6 {
      padding: 0px;
      max-width: 50%;
      
    } 
    

    .products{
      border-radius: 5px;
      padding: 0px 5px;
      margin:10px 0px;
    }
    
    .image{
      width: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      background:red;

    }
    
    .title{
      font-size:14px;
    }
    

    #productImage{
      width: 100%;
    }

  @media(max-width:1200px){
    .container{
      max-width:100%;
    }
  }
  
  @media(max-width:768px){
    .container{
      max-width:512px;
    }
  }

}