#show{
    .row{
        max-height: 900px;
    }
    
    img{
        width:100%;
    }
    
    #product-box{
        font-family: 'Muli', sans-serif;
        margin-top: 60px;
        font-size: 20px;
    }
}